html, body {
  font-family: Helvetica, Arial, sans-serif;
}

#chart {
  max-width: 980px;
  margin: 0 auto;
}

.axis path {
	display: none;
}

.axis text {
	font-size: 14px;
}

.axis line {
	stroke: #bbb;
}
